body{
    background-color: #E63946;
}

.border{
    width: 40px;
    height: 100%;
}

.title{
    background-color: #457B9D;
    border-radius: 10px;
    border: 5px solid #1D3557;
    box-shadow: 10px 10px #1D3557;
    width: 45%;
    height: 75px;
    margin: auto;
}

h1{
    text-align: center;
}

hr{
    color: #1D3557;
}

.line{
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

#content{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 40px;
    background-color: #E63946;
    width: 40%;
    height: 100%;
    margin: auto;
    margin-top: 30px;
}

.card{
    border: 5px solid #1D3557;
    border-radius: 5px;
    background-color: #F1FAEE;
    font-size: 20px;
    padding: 20px 20px 20px 20px;
}

.card:hover{
    animation-name: card-pop-up;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes card-pop-up{
    0%{
        box-shadow: 0px 0px #1D3557;
        transform: scale(1);
    }
    100%{
        box-shadow: 8px 8px  #1D3557;
        transform: scale(1.1);
    }
}

button{
    background: #F1FAEE;
    border: 5px solid #1D3557;
    border-radius: 5px;
    font-size: 25px;
}

button:hover{
    animation-name: button-popup;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes button-popup{
    0%{
        box-shadow: 0px 0px #1D3557;
        transform: scale(1);
    }
    100%{
        box-shadow: 5px 5px #1D3557;
        transform: scale(1.1);
    }
}

#close{
    background-color: #E63946;
    color: #F1FAEE;
}

.submit{
    background-color: #A8DADC;
}

#add{
    margin-top: 40px;
}

#add-content{
    width: 100%;
    text-align: center;
}

.submit-button{
    text-align: center;
}

.pop-up{
    display: none;
    position: fixed; 
    padding-top: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.pop-up-content {
    position: relative; 
    background-color: #F1FAEE;
    border: 5px solid #1D3557;
    padding: 20px; 
    margin: auto; 
    width: 60%;  
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px #1D3557;
    animation-name: form-popup;
    animation-duration: 0.5s;
}

@keyframes form-popup{
    0%{
        transform: scale(0);
        box-shadow: 0px 0px;
    }
    100%{
        transform: scale(1);
        box-shadow: 10px 10px;
    }
}

input{
    background: #F1FAEE;
    font-size: 26px;
    width: 97%;
    border: 0px;
}

.icon-div{
    text-align: end;
    margin-top: 10px;
}

.icon-btn{
    border: 0px;
    background-color: #F1FAEE;
}

.icon-btn:hover{
    animation-name: icon-popup;
    animation-duration: 500ms;
}

@keyframes icon-popup{
    0%{
        transform: scale(1);
        box-shadow: 0px 0px #F1FAEE;
    }
    100%{
        transform: scale(1.25);
        box-shadow: 0px 0px #F1FAEE;
    }
}

.rounded-input{
    border-radius: 25px;
    border: 2px solid #1D3557;
    margin-bottom: 8px;
    text-align: center;
    height: 40px;
}